
body {
    background-color: #141414; /* Fondo oscuro original de Netflix */
    color: #FFFFFF;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Navbar*/
.custom-navbar {
    background-color: #000000;
    border-bottom: 1px solid #222222;
}

/* Logo con el color rojo*/
.logo-netflix {
    color: #E50914 !important;
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 1px;
}

.text-version {
    color: #AAAAAA;
    font-size: 0.9rem;
}

/*Tarjetas*/
.section-title {
    color: #E5E5E5;
    font-size: 1.5rem;
    font-weight: 500;
}

/*tarjetas de películas */
.movie-card {
    background-color: #181818;
    color: #FFFFFF;
    border: 1px solid #333333;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

/* Efecto Hover para simular la interactividad responsiva  lo intente pero no funciono o no supe hacerlo
.movie-card:hover {
    transform: scale(1.03);
    border-color: #E50914;
    cursor: pointer;
}*/

/*carga o miniatura del reproductor */
.video-thumbnail {
    background-color: #303030;
    color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

/* Texto verde de coincidencia*/
.card-meta {
    color: #46D369;
    font-weight: bold;
}